<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/b3dc13dc-038b-4afc-a29f-1c17370e2f8d%2Ffavicon.ico?v=1621579678050">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="/js/vue-v3.js"></script>
    <title>Reverse Image Search</title>
    <style>
        html, body {
            height: 100%;
        }
        .fa-blue{
            color: rgb(110, 110, 255);
        }

        #filebtn{
            display: none;
        }
    </style>
</head>
<body>

    <div class="container px-0 shadow">

        <nav class="navbar navbar-expand-lg navbar-light bg-light px-2 py-3">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Search Engine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/img/">image</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  
      </div>
    
    <div class="container" id="app">

        <div class="row">

            <div class="col-12 p-3 my-2 bg-light shadow" v-if="showUpload">
                <div class="text-center my-5">
                    <h3 class="my-2"> Upload Image To Search </h3>
                    <i class="fas fa-blue fa-cloud-upload-alt fa-5x"></i> <br>
                    <input type="file" id="filebtn" ref="filebtn" @change="assignFile">
                    <button class="btn btn-primary btn-md my-3" @click="selectFile">
                        <i class="fas fa-link"></i> 
                        Upload
                    </button>
                    <h6>{{img.name}}</h6>
                </div>
                <label for="imgurl"> -- OR -- </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-blue fa-link"></i>
                    </span>
                    <input type="text" v-model="img.url" class="form-control" id="imgurl" placeholder="Paste image url">
                </div>
                <div class="text-center my-4">
                    <button class="btn btn-primary btn-lg px-5" @click="upload">Search</button>
                </div>
            </div>
            
            <div class="col-12 border border-primary p-3 my-2" v-else>
                <h6 class="text-end">
                    <button class="btn btn-sm" @click="() => {showUpload = !showUpload}">
                        upload another image
                    </button>
                </h6>
                <div class="text-center my-5">
                    
                    <h5>Find similar images in different search engines.</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div v-for="engine in searchEngines" class="col-md-3 col-lg-2 col-sm-6 col-xs-6 my-2">
                            <div class="py-3 text-center bg-light">
                                <img :src="`img/${engine.icon}`" :alt="engine.name">
                                <h6 class="my-3">{{engine.name}}</h6>
                                <button class="btn btn-sm btn-primary" @click="search(`${engine.name}`)">
                                    Show Result
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

    <script src="/js/img.js"></script>
</body>

<script>


    
</script>

</html>